*.csvt
*.Rhistory
*.code-workspace

git_stage.sh
git_cached.sh
check_repo.sh

/data
/sac311/*.csvt

/ndoch_2019/*.html
/ndoch_2019/.ipynb_checkpoints/

/ndoch_2019/demo/*.html
/ndoch_2019/demo/.ipynb_checkpoints/

/open_data/portal/results
/open_data/portal/.ipynb_checkpoints/
